<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.css' integrity='sha512-M9yHeAbo9J8KSZVvOi5PEo4WrL6LWxbS+cvh6faIEPPqHQXhxilgCSJ/L2tTqRf73GmI4+tNy8OWSsQuwXc4fw==' crossorigin='anonymous'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <title>BOOLZAPP</title>
</head>

<body>
    

  <div id="app" >

    <!--HEADER SINISTRA-->
    <div id="colonnasx">
      <div class="header p10">
        <div class="sx">
          <img src="img/avatar_io.jpg" alt="avatar">
          <h4>Sofia</h4>
        </div>
        
        <div class="dx">
          <i class="fa-solid fa-microphone "></i>
          <i class="fa-solid fa-message"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
                   

      </div>
      
      <!--SILENZIA NOTIFICHE-->
      <div id="notifiche" class="sx p10">
        <div>
          <i class="fa-solid fa-bell-slash"></i>
        </div>
        <div>
          <h4>Ricevi notifiche dei messaggi</h3>
          <p>Attiva notifiche Desktop</p>
        </div>

      </div>

      <!--BARRA DI RICERCA-->
      <div id="ricerca" class="flexstart p10 sx">
        
          <button><i class="fas fa-search "></i></button>
          <input id="inputricerc" type="text" placeholder="Cerca o inizia una nuova chat" v-model="search">

      </div>

      <!--ELENCO DEI CONTATTI-->
      <div id="contatti" class="scroll">
        
        <div v-for="user, index) in users" class="contattosingolo p10" @click="contatoreContatto = index">
          <div class="one">
            <img :src="'img/avatar' +user.avatar+'.jpg'" :alt="user.avatar">
          </div>
          <div class="two">
            <h4>{{user.name}} <span class="data">12/10/2021</span></h4>
            <p>Ultimo messaggio inviato</p>
          </div>

        </div>

      </div>
      
    </div>
    <!-----COLONNA DI DESTRA----->
    <div id="colonnadx">

      <div class="header p10">
        <div class="sx">
          <img :src="'img/avatar'+users[contatoreContatto].avatar+'.jpg'" :alt="users[contatoreContatto].avatar ">
          <h4>{{users[contatoreContatto].name}}</h4>
        </div>
        
        <div class="dx">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>

      <!--CONVERSAZIONE-->
      <div class="scroll conversazione active">

        <!--MESSAGGIO UTENTE-->
        <div class="flexend" >
          <div v-for="messaggi in users[contatoreContatto].messages" class="boxmessaggio" :class="messaggi.status">
            <p>
              {{messaggi.message}}
            </p>
          </div>
        </div>

        <!--MESSAGGIO RISPOSTA
        <div class="flexstart">
          <div class="received boxmessaggio" >
            <p>
            
            </p>
          </div>
       </div>
       -->
      </div>

      <!--CAMPO DIGITAZIONE-->
      <div id="digitazione" class="p10">
        <i class="far fa-smile"></i>
        <input placeholder="Scrivi un messaggio" type="text">
        <i class="fa-solid fa-microphone"></i>
        
      </div>

    </div>

  </div>



  <script src="contacts-boolzapp.js"></script>
</body>
</html>