*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#backuno{
  background-color: #009688;
  height:20vh;
  margin-bottom: 0;
}

#backdue{
  background-color: #DBDBD3;
  height: 80vh;
  margin-top: 0;
}

.relative{
  position: relative;
}

#app{
  position: absolute;
  margin: auto;
  height: 90vh;
  width: 80%;
  top: 5%;
  left: 10%;
}

#colonnasx{
  width: 30%;
  height: 100%;
  float: left;
}

#colonnadx{
  width: 70%;
  height: 100%;
  float: left;
  background-image: url(img/mine.jpg);
}

.header{
  top: 0;
  background-color: #EAEAEA;
  height: 10%;
  width: 100%;
}

#colonnadx .header{
  border-left: 2px solid #B1B1B1;
}

#notifiche{
  background-color: #8EDAFC;
  height: 10%;
}

#ricerca{
  background-color: #EAEAEA;
  height: 8%;
}

#contatti{
  height: calc(100% - 8% - 10% - 10%);
  background-color: white;
}

.scroll{
  overflow-y: auto;
}

#conversazione{
  height: 80%;
}

#digitazione{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  bottom: 0;
  background-color: #F3EEEA;
  color: #6B7376;
  font-size: 20px;
}

#digitazione input{
  width: 80%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

#digitazione input:focus-visible{
  outline: 2px solid blue;
}

.boxmessaggio{
  padding: 5px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

.flexend{
  display: flex;
  justify-content: flex-end;
}

.flexstart{
  display: flex;
  justify-content: flex-start;
}

.utente{
  background-color: #D5F9BA;
  
}

.risposta{
  background-color: white;
}